//********** Exo

@font-face {
	font-family: 'Exo';
	src: url('../fonts/Exo2.0-Thin.otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

//********** Trebushet MS

@font-face {
	font-family: 'Trebushet';
	src: url('../fonts/trebuchetms.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}