//******************** Media Queries ***********************/

@mixin media-xs {
	@media (min-width: #{$mq-xs}) {
		@content;
	}
}

@mixin media-sm {
	@media (min-width: #{$mq-sm}) {
		@content;
	}
}

@mixin media-lg {
	@media (min-width: #{$mq-lg}) {
		@content;
	}
}

@mixin retina {
	@media (-webkit-min-device-pixel-ratio: 2) {
		@content;
	}
}

@mixin title {
	font: bold $font-size-title $font-text;
}

@mixin subtitle {
	font: bold $font-size-subtitle $font-text;
}

@mixin plaintext {
	font: normal $font-size-text $font-text;
}

@mixin caption {
	font: normal $font-size-caption $font-text;
}